<div ng-cloak>
  <md-content class="md-padding" layout="column">
    <div ng-show="noCart">
      <no-cart></no-cart>
    </div>
    <md-button ng-show="!noCart" class="md-raised md-primary" ng-click="submit()">Proceed to Checkout</md-button>
    <md-button ng-show="!noCart" class="md-raised" ng-click="keepShopping()">Keep Shopping</md-button>
    <div layout="column" layout-gt-xs="row" layout-wrap>
      <md-card flex="25" flex-gt-sm="25" flex-xs="50" flex-gt-lg="25" ng-repeat="item in itemsInCart">
        <md-content layout="column" layout-padding>
          <md-card-title >
            <md-card-title-text >
              <span class="md-headline greyBackGround">&nbsp;&nbsp;{{item.item}}</span>
            </md-card-title-text>
          </md-card-title>
          <br />
          <div>
            <i ng-click="removeItem(item.quantity, item._id._id, item.item)" class="material-icons closex pointer">clear</i>
            <md-input-container ng-click="showAdvanced($event, item.item, item._id._id, item.quantity)" >
              <label>Quantity</label>
              <input ng-model="item.quantity" ng-readonly="true" />

            </md-input-container>
            <div flex="25">
              <img ng-src="{{item._id.image}}" alt="" />
            </div>
          </div>
        </md-content>
      </md-card>
    </div>
    <md-button ng-show="!noCart" class="md-raised md-primary" ng-click="submit()">Proceed to Checkout</md-button>
  </md-content>
</div>
