<md-dialog aria-label="cartEdit"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Quantity</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="material-icons" aria-label="Close dialog">ic_close_24px</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-content layout-gt-sm="row" layout-padding>
          <div>
            <md-input-container>
                <label>New Quantity</label>
                <input type="text" ng-model="newQuantity" required>
            </md-input-container>
          </div>
      </md-content>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="answer('cancel')">
       cancel
      </md-button>
      <md-button ng-model="saveButton" ng-disabled="!newQuantity" ng-click="saveNewQty(newQuantity); answer('save');" style="margin-right:20px;">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
