<md-content class="md-padding" layout-xs="column" layout="row">
  <md-button class="md-raised" ng-click="keepShopping()">Keep Shopping</md-button>
    <md-list ng-cloak >
      <md-subheader class="md-no-sticky">Review Order</md-subheader>
      <md-list-item ng-repeat="item in itemsInCart">
        <p>({{item.quantity}}) {{ item.item }}</p>
        <!-- <md-checkbox class="md-secondary" ng-model="topping.wanted"></md-checkbox> -->
      </md-list-item>
    </md-list>
  <md-button ng-show="!noCart" class="md-raised md-primary" ng-click="submitOrder()">Submit Order</md-button>
  <div ng-show="noCart">
    There are no items in your cart
  </div>
</md-content>
