
<md-input-container class="md-block">
  <label>Search for a product...</label>
  <input ng-model="searchText" class="searchText" type="text">
</md-input-container>

<div class="thumbnail" ng-repeat="product in products | filter: searchText">
  <img class="thumbnailImg animated zoomIn" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSA0i1LhCnW87B6hXKqS7UfEwj9EfTaPkWQ4LgrnfTY1FQPjZux" alt="Image of {{product.ITEMNO}}">
  <div class="caption">
    <h3>{{product.ITEMNO}}</h3>
    <p>{{product.DESC}}</p>
    <p>
      <md-button class="md-raised md-primary" ng-click="cart(product.ITEMNO)">{{orderButton}}</md-button>
    </p>
  </div>
</div>
